<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" schema="Log4J-V2.0.xsd" monitorInterval="600" >
    <Properties>
        <Property name="LOG_HOME">logs</Property>
        <property name="FILE_NAME">jqmk</property>
        <property name="DEFAULT_LAYOUT">[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}] [%level{length=5}] [%thread-%tid] [%logger] [%X{hostName}] [%X{ip}] [%X{applicationName}] [%X{traceId}] [%X{spanId}] [%X{eventId}] [%F,%L,%C,%M] [%m] ## '%ex'%n</property>
    </Properties>
    <Appenders>
        <Console name="DEFAULT_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${DEFAULT_LAYOUT}"/>
        </Console>
        <RollingRandomAccessFile name="appCustomAppender" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/custom-app-${FILE_NAME}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${DEFAULT_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${LOG_HOME}" maxDepth="1">
                    <IfLastModified age="3d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <Appender-Ref ref="DEFAULT_CONSOLE"/>
            <Appender-Ref ref="appCustomAppender"/>
        </Root>
    </Loggers>
</Configuration>